@model DotDesign.WebUI.Areas.Cms.ViewModels.ChangePasswordModel

@{
    ViewBag.Title = "Changing password";
    Layout = "~/Areas/Cms/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Changing password</legend>

        <div class="control-group">
            <label><strong>Current password</strong></label>
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        
        <div class="spacer"></div>

        <div class="control-group">
            <label><strong>New password</strong></label>
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="control-group">
            <label><strong>New password confirmation</strong></label>
            @Html.EditorFor(model => model.NewPasswordConfirmation)
            @Html.ValidationMessageFor(model => model.NewPasswordConfirmation)
        </div>

        <div class="pull-right">
            @Html.ActionLink("Back to profile",
                             "Details",
                             null,
                             new
                                 {
                                     @class = "btn"
                                 })
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
        
    </fieldset>
}
