@using DotDesign.WebUI.Areas.Cms.Models
@model DotDesign.WebUI.Areas.Cms.ViewModels.PageCreateOrEditModel

@{
    ViewBag.Title = "Creating home page";
    Layout = "~/Areas/Cms/Views/Shared/_AdminLayout.cshtml";
}

@section HeadStyles
{
    @Styles.Render("~/LayoutStyles/Stylesheets/modal.css")
}

@Html.Partial("_CmsMenu", MenuItem.HomePage)

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Home Page</legend>
        
        <div class="control-group">
            <label><strong>Url</strong></label>
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        @Html.Partial("_CreateOrEdit", Model)
        
        <div class="spacer"></div>

        <div class="pull-right">
            @Html.ActionLink("Cancel",
                "HomePage",
                null,
                new
                    {
                        @class = "btn"
                    })
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </fieldset>
}




