@using DotDesign.WebUI.Areas.Cms.Models
@using DotDesign.WebUI.Extensions
@using DotDesign.WebUI.Utility
@model DotDesign.WebUI.Areas.Cms.ViewModels.PageCreateOrEditModel

@{
    ViewBag.Title = "Editing page";
    Layout = "~/Areas/Cms/Views/Shared/_AdminLayout.cshtml";
}

@section HeadStyles
{
    @Styles.Render("~/LayoutStyles/Stylesheets/modal.css")
}

@(Model.IsHomePage ?
    Html.Partial("_CmsMenu", MenuItem.HomePage) :
    Html.Partial("_CmsMenu", MenuItem.Pages))

@using (Html.BeginForm("Edit", "Pages")) {
    @Html.AntiForgeryToken()
    if (Request.UrlReferrer != null)
    {
        @Html.Hidden("returnUrl", Request.UrlReferrer.PathAndQuery)
    }
    <fieldset>
        <legend>Editing page</legend>    
        
        @Html.HiddenFor(model => model.Id)
        
        <label>
            <strong>Url:</strong>
            @{
                String url = Model.Url.Shorten(30);
            }
            @Html.DisplayFor(x => url)
        </label>
        <div class="spacer">
        </div>

        @Html.Partial("_CreateOrEdit", Model)
        
        <div class="spacer">
        </div>

        <div class="pull-right">
            @if (Model.IsHomePage)
            {
                @Html.ActionLink("Home Page Details",
                    "HomePage",
                    null,
                    new
                        {
                            @class = "btn"
                        })
            }
            else
            {
                if (Request.UrlReferrer != null &&
                    Url.IsLocalUrl(Request.UrlReferrer.PathAndQuery))
                {
                    <a class="btn"
                       href="@Request.UrlReferrer.PathAndQuery">
                        Back to list
                    </a>
                }
                else
                {
                    @Html.ActionLink("Back to list",
                        "AllPages",
                        new
                            {
                                pageNumber = PagingSettings.FirstPageNumber
                            },
                        new
                            {
                                @class = "btn"
                            })
                }
            }
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </fieldset>
}